<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <h2>Short URL Creation</h2>
    <p>Example: create a new shorturl by adding in the box some url like: => <code>https://www.google.com</code></p>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <h2>Example Usage:</h2>
      <a href="https://boilerplate-project-urlshortener.rocohen.repl.co/api/shorturl/96219">[this_project_url]/api/shorturl/96219</a>
      <h3>Will Redirect to:</h3>
      <p>https://www.freecodecamp.org</p>
    </main>
    <footer>
      <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a> & Ro Cohen</p>
    </footer>
  </body>
</html>
